body { font-family: 'Poppins', sans-serif; background-color: #1e408a; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #1e3a8a; }
::-webkit-scrollbar-thumb { background: #60a5fa; border-radius: 10px; border: 2px solid #1e3a8a; }

/* -- CUSTOM STYLE TOMBOL BESAR -- */

/* Hadir (Hijau) */
input[value="Hadir"]:checked + div {
    background: #10b981; 
    border-color: #059669;
    color: white !important;
    box-shadow: 0 8px 12px -3px rgba(16, 185, 129, 0.5);
    transform: translateY(-2px);
}
input[value="Hadir"]:checked + div i { color: white !important; opacity: 1; }

/* Sakit (Kuning) */
input[value="Sakit"]:checked + div {
    background: #f59e0b;
    border-color: #d97706;
    color: white !important;
    box-shadow: 0 8px 12px -3px rgba(245, 158, 11, 0.5);
    transform: translateY(-2px);
}
input[value="Sakit"]:checked + div i { color: white !important; opacity: 1; }

/* Izin (Biru) */
input[value="Izin"]:checked + div {
    background: #3b82f6;
    border-color: #2563eb;
    color: white !important;
    box-shadow: 0 8px 12px -3px rgba(59, 130, 246, 0.5);
    transform: translateY(-2px);
}
input[value="Izin"]:checked + div i { color: white !important; opacity: 1; }

/* Alfa (Merah) */
input[value="Alfa"]:checked + div {
    background: #ef4444;
    border-color: #dc2626;
    color: white !important;
    box-shadow: 0 8px 12px -3px rgba(239, 68, 68, 0.5);
    transform: translateY(-2px);
}
input[value="Alfa"]:checked + div i { color: white !important; opacity: 1; }

.flatpickr-calendar { font-family: 'Poppins', sans-serif; }
.flatpickr-time input { font-weight: bold; }
